<html>

    <head>

        <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="bower_components/underscore/underscore.js" type="text/javascript"></script>
        <script src="bower_components/backbone/backbone.js" type="text/javascript"></script>

    </head>

    <ul id="sessions">

    </ul>

    <!-- Templates -->
    <script type="text/template" id="session-template">
        <li class="session">
            <h5><%- metadata.Code %><%- metadata.Title %></h5>
            <%-traffic.Code %> - <%- traffic.Traffic %> / <%- metadata.Capacity %>
        </li>
    </script>
    <script src="app.js" type="text/javascript"></script>
</html>